<header>
  <div class="header-inner">
    <div class="header-left">
      <a href="/">
        <img src="/images/Mario Zamudio Short Shadow Sign Color.png" alt="Mario Zamudio Logo">
      </a>
    </div>
    <div class="header-subtitle">
      <p>Data Analytics Portfolio &nbsp;·&nbsp; Solution Architect</p>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="/#about">About</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/publications/publications.html">Publications</a></li>
        <li><a href="/resume.html">Resume</a></li>
        <li><a href="/testimonials.html">Testimonials</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
